In [1]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#DATABASE CONNECTION

In [2]:
conn = sqlite3.connect("expense_tracker.db")
cursor = conn.cursor()

print('Database Created Successfully')

Database Created Successfully

In [3]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS expenses (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    date TEXT,
    category TEXT,
    amount REAL,
    expense_type TEXT,
    forgiven INTEGER
)
""")

conn.commit()
print("Table created successfully")

Table created successfully

In [4]:
cursor.execute(" select name from sqlite_master where type = 'table' ")
print(cursor.fetchall())

[('expenses',), ('sqlite_sequence',)]

In [5]:
%%writefile requirements.txt
pandas
numpy
matplotlib

Writing requirements.txt

In [7]:
def add_expense():
    date = input("Enter date (YYYY-MM-DD): ")
    category = input("Enter category (Food/Travel/Rent/etc): ")
    amount = float(input("Enter amount: "))
    expense_type = input("Expense type (Essential/Optional/Regret): ")
    forgiven = int(input("Forgiven? (1 = Yes, 0 = No): "))

    return date, category, amount, expense_type, forgiven

In [8]:
def insert_expense(data):
    cursor.execute("""
    INSERT INTO expenses (date, category, amount, expense_type, forgiven)
    VALUES (?, ?, ?, ?, ?)
    """, data)

    conn.commit()
    print("Expense added successfully")

In [9]:
expense_data = add_expense()
insert_expense(expense_data)

Enter date (YYYY-MM-DD): 2026-02-06
Enter category (Food/Travel/Rent/etc): Food
Enter amount: 250
Expense type (Essential/Optional/Regret): Essential
Forgiven? (1 = Yes, 0 = No): 0
Expense added successfully

In [10]:
cursor.execute("SELECT * FROM expenses")
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, '2026-02-06', 'Food', 250.0, 'Essential', 0)

In [11]:
conn.close()
print("Database connection closed")

Database connection closed

In [12]:
conn = sqlite3.connect("expense_tracker.db")

query = "SELECT * FROM expenses"
df = pd.read_sql_query(query, conn)

conn.close()

df

   id        date category  amount expense_type  forgiven
0   1  2026-02-06     Food   250.0    Essential         0

In [13]:
total_expense = np.sum(df['amount'])
average_expense = np.mean(df['amount'])
max_expense = np.max(df['amount'])

print("Total Expense:", total_expense)
print("Average Expense:", average_expense)
print("Highest Expense:", max_expense)

Total Expense: 250.0
Average Expense: 250.0
Highest Expense: 250.0

In [14]:
category_summary = df.groupby('category')['amount'].sum()
category_summary

category
Food    250.0
Name: amount, dtype: float64

In [15]:
df.to_csv("expenses.csv", index=False)
print("expenses.csv created successfully")

expenses.csv created successfully